{{#if resume.work.length}}
<div class="container work-container">
  {{> title value="Experience"}}

  {{#each resume.work}}
  <section class="item">

    {{#if position}}
      <h4>{{position}}</h4>
    {{/if}}

    {{> section-header }}

    {{#if summary}}
      <p class="summary">{{{summary}}}</p>
    {{/if}}

    {{#if highlights.length}}
      <ul class="highlights">
        {{#each highlights}}
        <li>{{{.}}}</li>
        {{/each}}
      </ul>
    {{/if}}
  </section>
  {{/each}}
</div>
{{/if}}
